{% include 'layout.html'%}

<div class="container mt-5">
  <h3>Chat with the ChatBot!!!</h3>
  <form action="/" method="POST">
    <div class="container" id="footer">
      <div class="input-group mb-3">
        <input
          class="form-control"
          placeholder="Add input here"
          name="user_input"
          id="user_input"
        />
        <button class="btn btn-primary mt-1" type="submit">Send</button>
      </div>
    </div>
  </form>

  <div>
    <div class="card text-center mt-3">
      <div class="card-header">Chat History:</div>
      <div class="card-body chat-history" id="chatHistory">
        <!-- auto populate here -->
        {% for response in chatresponses %}

        <div
          class="{{ 'chat-message user-input' if loop.index0 is even else 'chat-message ai-response' }}"
        >
          {{ response }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
